.fs-radial-graph circle {
  fill: #fff;
  fill-opacity: 0;
  stroke: #ccc;
  stroke-width: 9;
}
.fs-radial-graph path {
  fill: none;
  stroke: #F0AD4E;
  stroke-width: 9;
}
.fs-radial-graph path.complete {
  stroke: #5BB85C;
}
